body{
    
    background-image:linear-gradient(to bottom,white,whitesmoke);
}

#header
{
  background-color: rgba(0,0,0,0.9);
}
.main {
    max-width: 1100px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top:62px ;
    margin-bottom: 100px;
    margin-left: 50px;
     }
  .orders-cart{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 30px;
    color:  whitesmoke;
    background-color:  rgb(17, 149, 17);
    padding: 5px;
    position: fixed;
    width: 100%;

  }
  .page-title {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 18px;
  }
  
  .checkout-grid {
    display: grid;
    grid-template-columns: 1fr 350px;
    column-gap: 12px;
    align-items: start;

  }
  
  @media (max-width: 1000px) {
    .payment-summary img
    {
      width: 500px;
    }
  
  }
  .payment-summary img
  {
    width: 450px;
    position: fixed;
    top: 120px;
  }
  .cart-item-container,
  .payment-summary img {
    border: 1px solid rgb(222, 222, 222);
    border-radius: 4px;
    padding: 18px;
  }

  
  @media (max-width: 1000px) {
    .cart-item-details-grid {
      grid-template-columns: 100px 1fr;
      row-gap: 30px;
    }
  }
  
  .product-image {
    max-width: 100%;
    max-height: 120px;

    margin-left: auto;
    margin-right: auto;
  }
  
  .product-name {
    font-weight: 700;
    margin-bottom: 8px;
  }
  
  .product-price {
    color: rgb(177, 39, 4);
    font-weight: 700;
    margin-bottom: 5px;
  }
  
  .product-quantity .link-primary {
    margin-left: 3px;
  }
  .delete-quantity-link
  {
    color: rgb(189, 5, 5);
    font-weight: bold;
    cursor: pointer;
  }
  .div-but
  {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .place-order-button {
    width: 45%;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 11px;
    margin-bottom: 15px;
    background-color: green;
    color: whitesmoke;
  }
  