@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@300&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body
{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(/img/bg5.jpg);
    background-size: cover;
    background-position: center;
    
}
#header
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    padding-right: 10PX;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
    position:fixed;
    top: 0;
}

.logo
{
    text-decoration: none;
    color: rgb(4, 153, 9);   
    font-weight: bolder;
    font-family:sans-serif;
    font-size: 1.1rem;
}
#Nav-bar
{
    display: flex;
    align-items: center;
    justify-content: center;

}

#Nav-bar li
{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#Nav-bar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600 ;
    color: white;
    transition:  0.3 ease;
   
}

#Nav-bar li a:hover ,
#Nav-bar li a.active{
    color: green;
}

#Nav-bar li a.active::after,
#Nav-bar li a:hover::after
{
    content: "";
    width: 30%;
    height: 2px;
    background-color: green;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#Nav-bar .li-cart a.active::after,
#Nav-bar .li-cart a:hover::after
{
    width: 0;
}
.cart-link {
    color: whitesmoke;
    display: flex;
    align-items: center;
    position: relative;
    height: 13px;
  }
  
  .cart-icon {
    width: 50px;
  }
  
  .cart-text {
    margin-top: 12px;
    font-size: 15px;
    font-weight: 700;
  }
  
  .cart-quantity {
    color: rgb(53, 144, 4);
    font-size: 18px;
    font-weight: 700;
  
    position: absolute;
    top: -10px;
    left: 15px;
    
    width: 26px;
    text-align: center;
  }

#main
{
    height: 600px;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 60px;
    
}

#main h4,h3,h2{
    padding-bottom:15px ;
    color: whitesmoke;
    font-size: 2rem;
    font-weight: bolder;
    color:  rgb(3, 141, 30);
    
    text-shadow:2px 2px 10px #ffffff;
    }
h3{
    color: black;
}
#main h2{
    font-size: 2.4rem;
}

#main button{
    background-color: green;
    padding: 10px 20px;
    color: whitesmoke;
    border: 0;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5) ;
    border-radius: 20px;
}
#main button a,a:active{
    text-decoration: none;
    color: aliceblue;
    font-weight: 600;
    font-family:inherit;
}

@media (max-width: 2000px) {
    #main h4,h3,h2 {
        font-size: 1.8rem;
    }
    #main h2{
        font-size: 2.2rem;
    }
  }
  @media (max-width: 1600px) {
    #main h4,h3,h2{
        
        font-size: 1.6rem;
    }
    #main h2{
        font-size: 2.1rem;
    }
  }
  
  @media (max-width: 1300px) {
    #main h4,h3,h2 {
        
        font-size: 1.4rem;
    }
    #main h2{
        font-size: 2rem;
    }
  }
  
  @media (max-width: 1000px) {
    #main h4,h3,h2 {
        
        font-size: 1.3rem;
    }
    #main h2{
        font-size: 1.9rem;
    }
  }
  
  @media (max-width: 800px) {
    #main h4,h3,h2 {
        
        font-size: 1.3rem;
    }
    #main h2{
        font-size: 1.85rem;
    }
  }
  
  @media (max-width: 575px) {
    #main h4,h3,h2 {
      
        font-size: 1.23rem;
    }
    #main h2{
        font-size: 1.6rem;
    }
  }
  
  @media (max-width: 450px) {
    #main h4,h3,h2 {
        
        font-size: 1.2rem;
    }
    #main h2{
        font-size: 1.2rem;
    }
  }
  
